<div class="mainContainer">
    <div class="content">
        <div class="header">
            <h1>Archivo a Subir</h1>
        </div>
        <div class="row margin25">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <!--
                    <div class="input-group-prepend">
                        <span  class="input-group-text upload"  (click)="subir()"  id="btnUpload">Subir</span>
                    </div>
                    -->
                    <div class="custom-file">
                        <form action="/api/archivo" method="post" enctype="multipart/form-data">
                            <input (change)="fileChange($event)" name="archivo"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                        </form>
                        <label class="custom-file-label" for="inputGroupFile01">Elegir</label>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div class="row" *ngFor="let item of uploadedFiles">
            <div class="col-sm-2"></div>
            <div class="col-sm-4 border-bottom border-left border-top p-3 pt-4"><span>{{ item.name }}</span></div>
            <div class="col-sm-4 border-bottom border-right border-top p-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-dark" (click)="subir()">Subir</button>
                    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                </div>
            </div>      
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>