<div class="container">
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row card">
                    <h3 class="mt-3">Descargar Archivo</h3>
                    <div class="input-group p-3">
                        <input type="text" [value]="id" (change)="id = $event.target.value" class="form-control text-center" placeholder="Id de Archivo a descargar" aria-label="Id de Archivo a descargar" aria-describedby="download_Button">
                        <!-- Revisar si es necesario el binding de value con la variable id-->
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="button" id="download_Button" (click)="buscar(id)">Buscar</button>
                        </div>
                    </div>
                    <div class="container pb-3" *ngIf="archivo != null">
                        <div class="row">
                            <div class="col-sm-6 border-right">
                                <span>Nombre de Archivo:</span><br/>
                                <span class="text-muted">{{ archivo.name }}</span>
                                <hr>
                                <span>Fecha de Subida:</span><br/>
                                <span class="text-muted">{{ archivo.add_Date }}</span>
                            </div>
                            <div class="col-sm-6">
                                <span>Tamaño:</span><br/>
                                <span class="text-muted">{{ archivo.size }}</span>
                                <hr>
                                <div class="btn-group mt-2">
                                    <button type="button" (click)="descargar(id)" class="btn btn-sm btn-success">Descargar</button>
                                    <button type="button" (click)="cancelar()" class="btn btn-sm btn-danger">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>