<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>

<div>
    <ul>
        <li routerLink="/descargar">Descargar Archivo</li>
        <li routerLink="/iniciar-sesion">Iniciar Sesion</li>
        <li routerLink="/lista">Ver Archivos</li>
        <li routerLink="/subir">Subir Archivo</li>
    </ul>
</div>

<!--<app-subir></app-subir> ---- acomodar aca para enviar la info del archivo a subir -->
<!--<app-archivo (click)="hola()"></app-archivo> ---- *ngFor="let archivo of archivos" -->
<!-- <app-listar > [archivos]="archivos" </app-listar> -->
<!-- <app-iniciar-sesion></app-iniciar-sesion> ---- acomodar aca para enviar la info de sesion -->
<!-- <app-descargar [nombreArchivo]="archivoADescargar" ></app-descargar> ---- lo mismo que al resto -->

<router-outlet></router-outlet>